n8n/workflows/daily-content-generation.json
{
  "name": "Daily Multi-Category Content Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const c=[{id:\"odoo\",name:\"Odoo 客製化開發\",slug:\"odoo\",tags:[\"Odoo\",\"ERP\"],prompt:\"Odoo ERP開發\"},{id:\"ai\",name:\"AI 智慧應用\",slug:\"ai\",tags:[\"AI\",\"Claude\"],prompt:\"AI工具應用\"},{id:\"digital-transformation\",name:\"企業數位轉型\",slug:\"dt\",tags:[\"數位轉型\",\"ERP\"],prompt:\"數位轉型\"},{id:\"other\",name:\"其他開發\",slug:\"dev\",tags:[\"LINE\",\"Svelte\"],prompt:\"LINE/Svelte開發\"}];const t=new Date();const d=Math.floor((t-new Date(t.getFullYear(),0,0))/(1000*60*60*24));return{json:{category:c[d%c.length],date:t.toISOString().split(\"T\")[0]}};"
      },
      "id": "select-category",
      "name": "Select Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/users/kulius/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "github-events",
      "name": "Get GitHub Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.odoo.com/blog/feed"
      },
      "id": "rss-odoo",
      "name": "RSS Odoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        150
      ]
    },
    {
      "parameters": {
        "url": "https://ai.googleblog.com/feeds/posts/default?alt=rss"
      },
      "id": "rss-ai",
      "name": "RSS AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://dev.to/feed/tag/svelte"
      },
      "id": "rss-dev",
      "name": "RSS Dev",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "const i=$input.all();const c=i[0]?.json?.category||{};const d=i[0]?.json?.date;return{json:{category:c,date:d,context:{name:c.name,id:c.id,tags:c.tags,prompt:c.prompt}}};"
      },
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":\"根據{{ $json.context.name }}撰寫繁體中文技術文章(400字)。格式:---\ntitle:\ndescription:\npubDate:{{ $json.date }}\ntags:{{ JSON.stringify($json.context.tags) }}\ncategory:{{ $json.context.id }}\nauthor:蘇勃任\n---\n內容\"}]}],\"generationConfig\":{\"temperature\":0.8}}"
      },
      "id": "gemini",
      "name": "Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const r=$input.item.json;let c=r.candidates?.[0]?.content?.parts?.[0]?.text||\"\";const p=$(\"Merge\").item.json;const s=p.category.slug+\"-\"+p.date.replace(/-/g,\"\")+\"-\"+Date.now().toString(36);return{json:{slug:s,content:c,path:\"src/content/blog/\"+s+\".md\",category:p.category.name}};"
      },
      "id": "prep",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        200
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kulius/kulius.github.io/contents/{{ $json.path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":\"Add: {{ $json.slug }}\",\"content\":\"{{ Buffer.from($json.content).toString(\"base64\") }}\",\"branch\":\"main\"}"
      },
      "id": "github",
      "name": "GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.FB_PAGE_ID }}/feed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":\"新文章！{{ $json.category }}\",\"link\":\"https://www.euptop.com/blog/{{ $json.slug }}/\",\"access_token\":\"{{ $env.FB_PAGE_ACCESS_TOKEN }}\"}"
      },
      "id": "fb",
      "name": "Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        200
      ],
      "disabled": true
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Select Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Category": {
      "main": [
        [
          {
            "node": "Get GitHub Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Odoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Odoo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS AI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Dev": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}